.max-height {
    height: 95vh;
}

.max-height-chat {
    height: 390px;
    width: 100%;
}

.fig-left {
    margin-right: 20px;
}

.fig-right {
    margin-left: 20px;
}

body {
    background-color: #6610f2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }